In [1]:
import pandas as pd

patients = pd.read_csv("patients.csv")
patients

   patient_id patient_name    conditions
0           1       Daniel    YFEV COUGH
1           2        Alice           NaN
2           3          Bob  DIAB100 MYOP
3           4       George  ACNE DIAB100
4           5        Alain       DIAB201

In [2]:
patients[patients["conditions"].str.contains("DIAB1", na=False)]

   patient_id patient_name    conditions
2           3          Bob  DIAB100 MYOP
3           4       George  ACNE DIAB100