In [1]:
import pandas as pd

employees = pd.read_csv("employees.csv")
employees

   id      name
0   1     Alice
1   7       Bob
2  11      Meir
3  90   Winston
4   3  Jonathan

In [2]:
employee_uni = pd.read_csv("employee_uni.csv")
employee_uni

   id  unique_id
0   3          1
1  11          2
2  90          3

In [3]:
pd.merge(employees, employee_uni, on="id", how="left")[["unique_id", "name"]]

   unique_id      name
0        NaN     Alice
1        NaN       Bob
2        2.0      Meir
3        3.0   Winston
4        1.0  Jonathan