In [10]:
import pandas as pd

activity = pd.read_csv("activity.csv")
activity

   player_id  device_id  event_date  games_played
0          1          2  2021-08-01             5
1          1          2  2021-05-10             6
2          2          3  2022-06-25             1
3          3          1  2021-03-02             0
4          3          4  2023-07-03             5

## Solution #1

In [11]:
activity.pivot_table(
    index="player_id", values="event_date", aggfunc="min"
).reset_index().rename(columns={"event_date": "first_login"})

   player_id first_login
0          1  2021-05-10
1          2  2022-06-25
2          3  2021-03-02

## Solution #2

In [12]:
activity.groupby("player_id").agg(first_login=("event_date", "min")).reset_index()

   player_id first_login
0          1  2021-05-10
1          2  2022-06-25
2          3  2021-03-02

## Solution #3

In [13]:
activity.groupby("player_id")["event_date"].agg("min").reset_index().rename(
    columns={"event_date": "first_login"}
)

   player_id first_login
0          1  2021-05-10
1          2  2022-06-25
2          3  2021-03-02

## Solution #4

In [14]:
result = activity.sort_values(by=["player_id", "event_date"]).drop_duplicates(
    subset="player_id"
)
result[["player_id", "event_date"]].rename(columns={"event_date": "first_login"})

   player_id first_login
1          1  2021-05-10
2          2  2022-06-25
3          3  2021-03-02