In [1]:
import pandas as pd
users = pd.read_csv("users.csv")
users

   user_id       name                     mail
0        1    Winston     winston@leetcode.com
1        2   Jonathan          jonathanisgreat
2        3  Annabelle      bella-@leetcode.com
3        4       Jane     125jane@leetcode.com
4        5      Sally  Sally.come@leetcode.com
5        6     Marwan  quarz#2020@leetcode.com
6        7      David        david69@gmail.com
7        8       Kate     _kate45@leetcode.com
8        9    Shapiro      .shapo@leetcode.com

In [2]:
pattern = r"^[a-zA-Z][a-zA-Z0-9_.-]+(@leetcode.com)$"
mask = users["mail"].str.match(pattern)
users[mask]

   user_id       name                     mail
0        1    Winston     winston@leetcode.com
2        3  Annabelle      bella-@leetcode.com
4        5      Sally  Sally.come@leetcode.com