In [9]:
import pandas as pd
users = pd.read_csv("users.csv")
users

   user_id       name                     mail
0        1    Winston     winston@leetcode.com
1        2   Jonathan          jonathanisgreat
2        3  Annabelle      bella-@leetcode.com
3        4      Sally  sally.come@leetcode.com
4        5     Marwan  quarz#2020@leetcode.com
5        6      David        david69@gmail.com
6        7    Shapiro      .shapo@leetcode.com

In [10]:
pattern = r'^[a-zA-Z][a-zA-Z\d_.-]*@leetcode\.com'
is_valid_mail = users["mail"].str.match(pattern)
users[is_valid_mail]

   user_id       name                     mail
0        1    Winston     winston@leetcode.com
2        3  Annabelle      bella-@leetcode.com
3        4      Sally  sally.come@leetcode.com

### Another Rerrible Solution!

In [11]:
import string

valid_prefix = string.ascii_letters + string.digits + "_.-"
def email_validation(email: str):
    if "@" not in email:
        return False
    else:
        prefix, domain = email.split("@")
        if domain != "leetcode.com":
            return False
        elif prefix[0] not in string.ascii_letters:
            return False
        else:
            for char in prefix:
                if char not in valid_prefix:
                    return False
    return True

In [12]:
condition = users["mail"].apply(email_validation)
users.loc[condition]

   user_id       name                     mail
0        1    Winston     winston@leetcode.com
2        3  Annabelle      bella-@leetcode.com
3        4      Sally  sally.come@leetcode.com