In [1]:
import pandas as pd
products = pd.read_csv("products.csv")
products

   product_id  store1  store2  store3
0           0      95   100.0     105
1           1      70     NaN      80

In [2]:
products.melt(
    id_vars="product_id",
    value_vars=["store1", "store2", "store3"],
    var_name="store",
    value_name="price",
).set_index("product_id").sort_index().dropna()

             store  price
product_id
0           store1   95.0
0           store2  100.0
0           store3  105.0
1           store1   70.0
1           store3   80.0