In [1]:
import pandas as pd
products = pd.read_csv("products.csv")
products

   product_id  store1  store2  store3
0           0      95   100.0     105
1           1      70     NaN      80

In [2]:
melt_df = products.melt(id_vars=["product_id"], var_name="store", value_name="price")
melt_df = melt_df.dropna()
sorted_df = melt_df.sort_values(by="product_id")
sorted_df

   product_id   store  price
0           0  store1   95.0
2           0  store2  100.0
4           0  store3  105.0
1           1  store1   70.0
5           1  store3   80.0