In [1]:
import pandas as pd

In [2]:
customers = pd.read_csv("customers.csv")
customers

   id   name
0   1    Joe
1   2  Henry
2   3    Sam
3   4    Max

In [3]:
orders = pd.read_csv("order.csv")
orders

   id  customerId
0   1           3
1   2           1

In [17]:
df = customers[~customers["id"].isin(orders["customerId"])]
df[['name']].rename(columns={'name': 'Customers'})

  Customers
1     Henry
3       Max