# Students and Examinations

Each row of `Students` table contains the ID and the name of one student in the school.

Each row of `Subjects` table contains the ID and the name of one subject in the school.

Each row of `Examinations` table indicates that a student with ID `student_id` attended the exam of `subject_id`.

Each student from the `Students` table takes every course from the `Subjects` table.

Write a solution to find the number of times each student attended each exam.

Return the result table ordered by `student_id` and `subject_name`.

Students table:

| student_id | student_name |
| ---------- | ------------ |
| 1          | Alice        |
| 2          | Bob          |
| 13         | John         |
| 6          | Alex         |

Subjects table:

| subject_id | subject_name |
| ---------- | ------------ |
| 1          | Math         |
| 2          | Physics      |
| 3          | Programming  |

Examinations table:

| student_id | subject_id |
| ---------- | ---------- |
| 1          | 1          |
| 1          | 2          |
| 1          | 3          |
| 2          | 3          |
| 13         | 3          |
| 1          | 2          |
| 1          | 1          |
| 13         | 1          |
| 13         | 3          |
| 13         | 2          |
| 2          | 1          |
| 1          | 1          |

Output:

| student_id | student_name | subject_name | attended_exams |
| ---------- | ------------ | ------------ | -------------- |
| 1          | Alice        | Math         | 3              |
| 1          | Alice        | Physics      | 2              |
| 1          | Alice        | Programming  | 1              |
| 2          | Bob          | Math         | 1              |
| 2          | Bob          | Physics      | 0              |
| 2          | Bob          | Programming  | 1              |
| 6          | Alex         | Math         | 0              |
| 6          | Alex         | Physics      | 0              |
| 6          | Alex         | Programming  | 0              |
| 13         | John         | Math         | 1              |
| 13         | John         | Physics      | 1              |
| 13         | John         | Programming  | 2              |