In [2]:
import pandas as pd

scores = pd.read_csv("scores.csv")
scores

   id  score
0   1   3.50
1   2   3.65
2   3   4.00
3   4   3.85
4   5   4.00
5   6   3.65

In [3]:
scores["rank"] = scores["score"].rank(method="dense", ascending=False).astype("int")
scores.sort_values(by="rank", inplace=True)
scores[["score", "rank"]]

   score  rank
2   4.00     1
4   4.00     1
3   3.85     2
1   3.65     3
5   3.65     3
0   3.50     4