In [1]:
import pandas as pd
employees = pd.read_csv("employees.csv")
employees

   id  salary
0   1     100
1   2     200
2   3     300

In [50]:
n = 4
unique_salaries = employees['salary'].drop_duplicates()
if len(unique_salaries) < n:
    highest_salary = None
else:
    highest_salary = unique_salaries.nlargest(n).iloc[-1]

pd.DataFrame({f"getNthHighestSalary({n})": [highest_salary]})

  getNthHighestSalary(4)
0                   None