In [1]:
import pandas as pd

In [3]:
tweets = pd.read_csv("tweets.csv")
tweets

   tweet_id                           content
0         1                    Vote for Biden
1         2  Let us make America great again!

In [17]:
df = tweets[tweets["content"].str.len() > 15 ]
df[["tweet_id"]]

   tweet_id
1         2