In [1]:
import pandas as pd

teacher = pd.read_csv("teacher.csv")
teacher

   teacher_id  subject_id  dept_id
0           1           2        3
1           1           2        4
2           1           3        3
3           2           1        1
4           2           2        1
5           2           3        1
6           2           4        1
7           2           4        3
8           2           4        2

## Solution #1

In [2]:
teacher.groupby("teacher_id")["subject_id"].agg("nunique").reset_index(name="count")

   teacher_id  count
0           1      2
1           2      4

## Solution #2

In [3]:
teacher.groupby("teacher_id").agg(count=("subject_id", "nunique")).reset_index()

   teacher_id  count
0           1      2
1           2      4

## Solution #3

In [4]:
teacher.pivot_table(index="teacher_id", values="subject_id", aggfunc="nunique").rename(
    columns={"subject_id": "count"}
).reset_index()

   teacher_id  count
0           1      2
1           2      4