In [1]:
import pandas as pd
users = pd.read_csv("users.csv")
users

   user_id   name
0        1  aLice
1        2    bOB

In [3]:
users["name"] = users["name"].str.capitalize()
users

   user_id   name
0        1  Alice
1        2    Bob