In [1]:
import pandas as pd
products = pd.read_csv("products.csv")
products

   product_id low_fats recyclable
0           0        Y          N
1           1        Y          Y
2           2        N          Y
3           3        Y          Y
4           4        N          N

## Solution #1

In [2]:
low_rec = products[(products["low_fats"] == "Y") & (products["recyclable"] == "Y")]
low_rec[["product_id"]]

   product_id
1           1
3           3

## Solution #2

In [3]:
low_rec = products.query("low_fats == 'Y' & recyclable == 'Y'")
low_rec[["product_id"]]

   product_id
1           1
3           3