In [1]:
import pandas as pd

accounts = pd.read_csv("accounts.csv")
accounts

   account_id  income
0           3  108939
1           2   12747
2           8   87709
3           6   91796

## Solution #1

In [2]:
low_salary = accounts["income"] < 20_000
ave_salary = (20_000 <= accounts["income"]) & (accounts["income"] <= 50_000)
high_salary = accounts["income"] > 50_000
pd.DataFrame(
    {
        "category": ["Low Salary", "Average Salary", "High Salary"],
        "account_count": [low_salary.sum(), ave_salary.sum(), high_salary.sum()],
    }
)

         category  account_count
0      Low Salary              1
1  Average Salary              0
2     High Salary              3

## Solution #2

In [3]:
categorical_salary = pd.cut(
    x=accounts["income"],
    bins=[0, 20000, 50001, float("inf")],
    right=False,
    labels=["Low Salary", "Average Salary", "High Salary"],
)
categorical_salary

0    High Salary
1     Low Salary
2    High Salary
3    High Salary
Name: income, dtype: category
Categories (3, object): ['Low Salary' < 'Average Salary' < 'High Salary']

In [4]:
pd.DataFrame(categorical_salary.value_counts().sort_index())

                count
income
Low Salary          1
Average Salary      0
High Salary         3

## Solution #3

In [5]:
def SalaryCategory(income):
    if income < 20_000:
        return "Low Salary"
    if 20_000 <= income <= 50_000:
        return "Average Salary"
    return "High Salary"

In [6]:
categorical_salary = pd.Categorical(
    accounts["income"].apply(SalaryCategory),
    categories=["Low Salary", "Average Salary", "High Salary"],
    ordered=True,
)
pd.DataFrame(categorical_salary.value_counts())

                count
Low Salary          1
Average Salary      0
High Salary         3