In [1]:
import pandas as pd
courses = pd.read_csv("courses.csv")
courses

  student     class
0       A      Math
1       B   English
2       C      Math
3       D   Biology
4       E      Math
5       F  Computer
6       G      Math
7       H      Math
8       I      Math

In [42]:
df = courses.groupby("class").agg("nunique").reset_index()
df[df["student"] >= 5][["class"]]

  class
3  Math

## Another Solution

In [46]:
df = courses.groupby("class").agg("count").reset_index()
df[df["student"] >= 5][["class"]]

  class
3  Math