In [1]:
import pandas as pd

courses = pd.read_csv("courses.csv")
courses

   student     class
0        A  Computer
1        B      Math
2        C   English
3        D      Math
4        E   Biology
5        F      Math
6        G  Computer
7        H      Math
8        I      Math
9        J  Computer
10       K  Computer
11       L      Math

In [2]:
result = courses.groupby("class")["student"].count().reset_index(name="count")
result[result["count"] >= 4]

      class  count
1  Computer      4
3      Math      6