In [1]:
import pandas as pd
store = pd.read_csv("store.csv")
store

   bill_id  customer_id  amount
0        6            1     549
1        8            1     834
2        4            2     394
3       11            3     657
4       13            3     257

In [2]:
rich_count = store[store["amount"] > 500]["customer_id"].nunique()
pd.DataFrame({"rich_count": [rich_count]})

   rich_count
0           2