In [1]:
import pandas as pd
employees = pd.read_csv("employees.csv")
employees

     id   name department  managerId
0   101   John          A        NaN
1   102    Dan          A      101.0
2   103  James          B      106.0
3   104    Amy          B      106.0
4   105   Anne          A      101.0
5   106   Luyc          B        NaN
6   107    Tom          A      101.0
7   108  Helen          B      106.0
8   109    Ron          A      101.0
9   110   Jose          A      101.0
10  111   Kate          B      106.0

In [2]:
df = employees["managerId"].value_counts().reset_index()
df.columns = ["managerId", "direct_reports"]
df

   managerId  direct_reports
0      101.0               5
1      106.0               4

In [3]:
result = df.query("direct_reports >= 5")
result

   managerId  direct_reports
0      101.0               5

In [4]:
employees[employees["id"].isin(result["managerId"])][["name"]]

   name
0  John