In [1]:
import pandas as pd
activities = pd.read_csv("activities.csv")
activities

    sell_date     product
0  2023-05-30   Headphone
1  2023-06-01      Pencil
2  2023-06-02        Mask
3  2023-05-30  Basketball
4  2023-06-01       Bible
5  2023-05-30     T-Shirt

In [2]:
result_df = activities.groupby('sell_date')['product'].agg([
    'nunique',
    lambda x: ','.join(sorted(x.unique()))
]).reset_index()
result_df

    sell_date  nunique                    <lambda_0>
0  2023-05-30        3  Basketball,Headphone,T-Shirt
1  2023-06-01        2                  Bible,Pencil
2  2023-06-02        1                          Mask

In [3]:
result_df.columns = ['sell_date', 'num_sold', 'products']
result_df

    sell_date  num_sold                      products
0  2023-05-30         3  Basketball,Headphone,T-Shirt
1  2023-06-01         2                  Bible,Pencil
2  2023-06-02         1                          Mask