In [7]:
import pandas as pd
orders = pd.read_csv("orders.csv")
orders

   order_id  customer_id
0         1            1
1         2            2
2         3            3
3         4            3
4         5            4
5         6            5
6         7            3
7         8            5
8         9            5

In [8]:
orders["customer_id"].mode().to_frame()

   customer_id
0            3
1            5

## Another Solution

In [9]:
df = orders.groupby("customer_id").agg(
    total_orders=(("order_id","nunique"))
    ).reset_index()
df

   customer_id  total_orders
0            1             1
1            2             1
2            3             3
3            4             1
4            5             3

In [10]:
df[df["total_orders"] == df["total_orders"].max()][["customer_id"]]

   customer_id
2            3
4            5