In [14]:
import pandas as pd

orders = pd.read_csv("orders.csv")
orders

   order_id  customer_id
0         1            1
1         2            2
2         3            3
3         4            3
4         5            4
5         6            5
6         7            3
7         8            5
8         9            5

## Solution #1

In [15]:
orders["customer_id"].mode().to_frame()

   customer_id
0            3
1            5

## Solution #2

In [16]:
result = (
    orders.groupby("customer_id")["order_id"].count().reset_index(name="order counts")
)
largest_number_orders = result["order counts"].max()
result[result["order counts"] == largest_number_orders][["customer_id"]]

   customer_id
2            3
4            5