# Daily Leads and Partners

The DailySales table contains the date and the name of the product sold and the IDs of the lead and partner it was sold to. 

For each date_id and make_name, find the number of distinct lead_id's and distinct partner_id's.

DailySales table:

| date_id   | make_name | lead_id | partner_id |
| --------- | --------- | ------- | ---------- |
| 2023-06-8 | toyota    | 0       | 1          |
| 2023-06-8 | toyota    | 1       | 0          |
| 2023-06-8 | toyota    | 1       | 2          |
| 2023-06-7 | toyota    | 0       | 2          |
| 2023-06-7 | toyota    | 0       | 1          |
| 2023-06-8 | honda     | 1       | 2          |
| 2023-06-8 | honda     | 2       | 1          |
| 2023-06-7 | honda     | 0       | 1          |
| 2023-06-7 | honda     | 1       | 2          |
| 2023-06-7 | honda     | 2       | 1          |

Output:

| date_id   | make_name | unique_leads | unique_partners |
| --------- | --------- | ------------ | --------------- |
| 2023-06-7 | honda     | 3            | 2               |
| 2023-06-7 | toyota    | 1            | 2               |
| 2023-06-8 | honda     | 2            | 2               |
| 2023-06-8 | toyota    | 2            | 3               |